header.speak {
    background-color: #923c81;
}

h1 {
    font-size: 150px;
    text-align: center;
}

.speak h1 {
    color: white;
    font-family: 'Dancing Script', 'Times New Roman', Times, serif;
}

body.speak {
    background-color: #e2b7ce;
}

div.song_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: 20px auto;
}

h3 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 25px;
    display: inline-block;
    margin: 10px;
}

div.song {
    border: 10px solid gold;
    border-radius: 5%;
    padding: 5px;
    background-color: #db7ca5;
    width: 95%;
}

@keyframes shimmerOne {
    0% {background-color: gold;}
    100% {background-color: rgb(254, 240, 155);}
}

/* @keyframes shimmerTwo {
    from {background-color: gold;}
    to {background-color: white;}
} */

span {
    background-color: white;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0px;
    /* animation-name: shimmerOne;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.two {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.three {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.four {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.five {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

td {
    background-color: gold;
    /* display: inline-block; */
    width: 3px;
    height: 3px;
    /* margin: 0px;
    padding: 0px; */
}

