@keyframes flyIn {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

@keyframes flyOut {
    from { transform: translateY(0%); }
    to { transform: translateY(100%); }
}

header.speak {
    background-color: #923c81;
}

header.eras {
    background-color: rgb(255, 32, 125);
    height: 150px;
}

header.choose {
    background-color: #aa4f69;
    height: 150px;
}

h1 {
    font-size: 100px;
    text-align: center;
}

.speak h1 {
    color: white;
    font-family: 'Dancing Script', 'Times New Roman', Times, serif;
}

body.speak {
    background-color: #e2b7ce;
}

body.folklore {
    background-color: #ccc494;
}

body.choose {
    background-color: #d9c6bb;
}

div.song_container {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 20px auto;
}

h3 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 25px;
    display: inline-block;
    margin: 10px;
}

div.song_container div {
    border-radius: 5%;
    padding: 5px;
    width: 90%;
    margin: 10px;
    /* animation-name: flyIn;
    animation-duration: 4s; */
}

div.song_speak {
    background-color: #db7ca5;
}

div.song_rep {
    background-color: rgb(169, 151, 151);
}

div.song_folklore {
    background-color: #999c56;
}

@keyframes shimmerOne {
    /* 0% {background-color: gold;}
    100% {background-color: rgb(254, 240, 155);} */
    0% {background-color: white;}
    100% {background-color: silver;}
}

/* @keyframes shimmerTwo {
    from {background-color: gold;}
    to {background-color: white;}
} */

span {
    background-color: white;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0px;
    /* animation-name: shimmerOne;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.two {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.three {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.four {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.five {
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.two_desktop {
    display: none;
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.three_desktop {
    display: none;
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.four_desktop {
    display: none;
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.five_desktop {
    display: none;
    animation-name: shimmerOne;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

td {
    background-color: white;
    /* display: inline-block; */
    width: 3px;
    height: 3px;
    /* margin: 0px;
    padding: 0px; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #632e6d;
  }
  
nav li a {
    display: block;
    color: white;
    font-size: 50px;
    padding: 10px;
  }

nav li a:hover {
    background-color: #8945be;
}

.reputation nav ul {
    background-color: #002c23;
}

.reputation nav li a:hover {
    background-color: #004a3a;
}

.folklore nav ul {
    background-color: #d6b56e;
}

.folklore nav li a {
    color: black;
}

.folklore nav li a:hover {
    background-color: #d9cb9b;
}

.eras nav ul {
    background-color: #ff4cc9;
}

.eras nav li a:hover {
    background-color: #ec7fcc;
}

.choose nav ul {
    background-color: #692a40;
}

.choose nav li a:hover {
    background-color: #813f56;
}

body.eras {
    background-color: #e2b7ce;
}

header.folklore {
    background-color: #004a3a;
}

header.eras h1 {
    font-family: 'Luckiest Guy', Times, serif;
    font-size: 80px;
    text-shadow: 1px 1px 5px black;
    color: white;
    padding: 15px 0px;
}

header.choose h1 {
    font-family: 'Luckiest Guy', Times, serif;
    padding: 15px 0px;
}

header.reputation h1 {
    font-family: "Playfair Dispay SC", Times, serif;
}

header.folklore h1 {
    padding: 20px 0px;
    color: #d6b56e;
    font-family: "Kalam", Times, serif;
    text-shadow: 1px 1px 10px black;
}

figcaption {
    font-size: 30px;
}

figure {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.eras p {
    display: inline-block;
    margin: 20px 10px;
}

div.text_picture {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 20px auto;
}

h2 {
    font-size: 50px;
    margin: 10px;
}

button {
    font-size: 40px;
    padding: 10px;
    background-color: #ac9a94;
    margin: 10px;
    border-radius: 20%;
}

.birdOne {
    position: fixed;
    right: -250px;
    top: 0;
}

@keyframes birdFly {
    from { right: -250px; }
    to { right: 1800px; }
}

.snake {
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    max-height: 200px;
    max-width: 200px;
}

@media only screen and (min-width: 600px) {
   
    div.song_container {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 100px;
    }

    header.eras {
        background-image: url('../images/wide_swift_background.webp');
        height: 300px;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header.eras h1 {
        padding: 100px 0px;
        color: white;
        font-size: 80px;
        font-family: 'Luckiest Guy', Times, serif;
    }

    header.speak {
        background-image: url('../images/speaknow_glitter_background.jpg');
        height: 270px;
        background-size: cover;
        background-position-y: center;
    }

    header.choose {
        background-image: url('../images/choose_era_background.webp');
        height: 270px;
        background-size: cover;
        background-position-y: center;
    }

    header.choose h1 {
        color: white;
        padding: 70px 0px;
    }

    header.speak h1 {
        padding: 70px 0px;
        color: white;
        text-shadow: 1px 1px 5px black;
        font-weight: 600;
    }

    header.reputation {
        background-image: url('../images/rep_background.jpg');
        height: 270px;
    }

    header.reputation h1 {
        padding: 80px 0px;
    }

    header.folklore {
        background-image: url('../images/folkore_background.jpg');
        height: 270px;
        background-position-y: center;
        background-size: cover;
    }

    header.folklore h1 {
        padding: 70px 0px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav li a {
        display: inline;
        font-size: 45px;
        margin: 0 10px;
        padding: 0 10px;
    }

    nav li {
        display: inline;
    }
}

@media only screen and (min-width: 768px) {
    div.text_picture {
        grid-template-columns: 1fr 1fr;
    }
    
    div.song_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .two_desktop {
        display: block;
    }
    
    .three_desktop {
        display: block;
    }
    
    .four_desktop {
        display: block;
    }
    
    .five_desktop {
        display: block;
    }

    header.eras {
        height: 400px;
    }

    header.eras h1 {
        padding: 150px 0px;
        font-size: 100px;
    }

    div.song_container div:hover {
        transform: rotateY(-20deg);
    }
}